section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.list-group{
    width: 300px;
    text-align: center;
    margin-left: 15px;
}

.list-group-item{
    font-size: 18px;
}

.btn-success{
    height: 46px;
    padding: 0px;
    width: 113px;
    border-radius: 0;
    font-size: 20px 
}

.list-group-item:last-child{
    background-color: #eeeeee;
    
}

.list-group-item:nth-child(2){
    background-color: #eeeeee;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.list-group-item:first-child{
    background-color: #111111;
    color: white;
    font-size: 26px;
}

